/Repeticoes/Ex01/nbproject/private/
/Repeticoes/Ex01/build/
/Repeticoes/Ex02/nbproject/private/
/Repeticoes/Ex02/build/
/Repeticoes/Ex03/nbproject/private/
/Repeticoes/Ex03/build/
/Repeticoes/Ex04/nbproject/private/
/Repeticoes/Ex04/build/
/Repeticoes/Ex05/nbproject/private/
/Repeticoes/Ex05/build/
